<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QuestionMe</title>
  <link rel="icon" href="/img/question-mark.png">
  <!--automaticamente, o express já vai procurar por uma pasta css dentro da pasta public. 
    Por isso, não precisa ser public/css/arquivo.css-->
    <!--pra customizar o bootstrap, primeiro carrega o BS e depois o css com as customimzações-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>